/* .layout {
    display: flex;
    flex-direction: row;
} */

/* .content {
    flex: 1;
    /* padding: 20px; */

/* }  */

/* .sidebar {
    width: 200px;
    background-color: #333;
    color: white;
  } */

/* .content {
    flex: 1;
} */

/* .navbar {
    background-color: #555;
    color: white;
} */